<div id="home_manage">
	<form class="home-manage-form">
		<br /><div style="text-align: center;"><h1>首页配置</h1></div><br />
		<hr />
		<div class="row form-group" id="banner_sub_title">
			<label for="banner_sub_title" class="col-sm-2 control-label text-right">图片副标题：</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="banner_sub_title" 
				placeholder="请输入标题" />
			</div>
		</div>
		<hr />
		<div>
		<div class="text-center"><label><h3>添加网页首页图片</h3></label></div>
		<hr id="web_banner_area" />
		</div>
		<div>
		<div class="text-center"><label><h3>添加手机首页图片</h3></label></div>
		<hr id="mobile_banner_area" />
		</div>
		<div class="row form-group">
			<div class="col-sm-2">
				<button type="button" class="btn btn-primary" onclick="addBannerImg('web')">添加网页首页图片</button>
			</div>
			<div class="col-sm-2">
				<button type="button" class="btn btn-primary" onclick="addBannerImg('mobile')">添加手机首页图片</button>
			</div>
			<div class="col-sm-2 pull-right">
				<button type="button" class="btn btn-primary" onclick="saveImg()">保存</button>
			</div>
		</div>
    </form>
</div>

<div class="row form-group hidden" id="web_input_template">
	<label for="imgs" class="col-sm-2 control-label text-right">图片：</label>
	<div class="col-sm-8 inputs">
		<input class="btn btn-primary uploadimg" type="file" multiple 
			accept="*.gif, *.jpeg, *.png, *.jpg, *.bmp" /><br /><br />
		<img wdith="300" height="100" src="">
		<input type="hidden" class="hidden-name" value="">
	</div>
	<div class="col-sm-2 pull-right">
		<button type="button" class="btn btn-primary" onclick="delBannerImg(this)">删除</button>
	</div>
</div>

<script type="text/javascript">
function addBannerImg(type, num ,src ) {
	if( type == 'mobile' ) {
		maxMobileBannerId = num || maxMobileBannerId + 1;
		var name_num = 'banner_mobile_img__' + maxMobileBannerId ;
		var picture_title = "手机图片(375*750)：";
		var insertHere = "mobile_banner_area";
	} else {
		maxWebBannerId = num || maxWebBannerId + 1;
		var name_num = 'banner_web_img__' + maxWebBannerId ;
		var picture_title = "网页图片(1280*500)：";
		var insertHere = "web_banner_area";
	}
	if( $(".row .inputs .hidden-name[name='" + name_num + "']").length > 0 ) {
		return true;
	}
	var webImg = $("#web_input_template").clone();
	webImg.removeClass("hidden");
	webImg.find(".control-label").html(picture_title);
	webImg.removeAttr('id');
	webImg.find(".inputs .hidden-name").attr('name' , name_num );
	webImg.find(".inputs img").attr("src", src || '');
	webImg.insertBefore("#" + insertHere);
	setChange(webImg);
}
function saveImg() {
  $.post("/admin/manage/saveIndex",  $(".home-manage-form").serialize(),
      function(data){
        data = $.parseJSON(data);
        if( data.result ) {
           bootbox.alert("保存成功",function() {});
        } else {
           bootbox.alert(data.message,function() {});
        }
  });
}

function setChange( $select ) {
	$select.find(".uploadimg").change(function(){
	    var formData = new FormData();
	    var f = $select.find(".uploadimg")[0].files[0];
	    formData.append('file', f); // 固定格式
	    uploadImg ( formData, function( data ) {
	    	$select.find(".inputs img").attr("src",data.obj.url);
	    	$select.find(".inputs .hidden-name").val(data.obj.url);
	    } );
	});
}

function delBannerImg(obj) {
	var banner_name = $(obj).closest(".row").find(".hidden-name").attr('name');
	$.post("/admin/manage/delBannerImg", {
         name : banner_name
      } ,
      function(data){
        data = $.parseJSON(data);
        if( data.result ) {
           bootbox.alert("删除成功",function() {
           		$(obj).closest(".form-group").remove();
           });
        } else {
           bootbox.alert(data.message,function() {});
        }
  });
}
</script>