<!DOCTYPE html>
<html>
<head>
	<title>Edit intro</title>
	{include file="common/header" /}
	 <style>
        fieldset {
            padding: .35em .625em .75em;
            margin: 0 2px;
            border: 1px solid silver;
        }

        legend {
            padding: .5em;
            border: 0;
            width: auto;
        }
    </style>
</head>
<body>
<div class="full-container">
<form  class="form-horizontal" role="form" id="intro-from">
	<div class="page-header text-center ">
	{if condition="!empty($intro) && !empty($intro['id'])"}
	<h1>{$intro['title']}</h1>
	<input type="hidden" name="id" value="{$intro['id']}">
	{else /}
	<h1>创建公司信息</h1>
	{/if}
	</div>
	<div class="row form-group">
		<label for="title" class="col-sm-2 control-label text-right">名称：</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="title" placeholder="请输入名称"
			value='{if condition="!empty($intro)"}{$intro["title"]}{/if}'
			>
		</div>
	</div>
	<div class='row form-group {if condition="empty($intro)"}hidden{/if}'>
		<label for="img" class="col-sm-2 control-label text-right">图片(1428*718)</label>
		<div class="col-sm-8">
			<input class="btn btn-primary" type="file" id="intro_uploadimg" multiple 
				accept="*.gif, *.jpeg, *.png, *.jpg, *.bmp " /><br /><br />
			<img wdith="300" height="200" name="img_url" src="{if condition="!empty($intro)"}{$intro["img_url"]}{/if}">
			<input type="hidden" name="img_url" value="{if condition="!empty($intro)"}{$intro["img_url"]}{/if}">
		</div>
	</div>
	<div class="row form-group">
        <label for="short_desc" class="col-md-2 control-label text-right">短描述 : </label>
        <div class="col-sm-8">
            <div id="short_desc" name="short_desc">
            	{if condition="!empty($intro)"}{$intro['short_desc']}{/if}
            </div>
        </div>
    </div>
	<div class="row form-group">
        <label for="description" class="col-md-2 control-label text-right">详细描述 : </label>
        <div class="col-sm-8">
            <div id="description" name="description">
            	{if condition="!empty($intro)"}{$intro['description']}{/if}
            </div>
        </div>
    </div>
	<hr >
	<div class="row form-group">
		<div class="col-sm-1"></div>
		<div class="col-sm-7">
			<a type="button" class="btn btn-primary" href="/admin/manage/index?main=Intro">返回</a>
		</div>
		<div class="col-sm-2">
			<button type="button" class="btn btn-primary" onclick="saveIntro()">保存</button>
			{if condition="!empty($intro)"}
			<button type="button" class="btn btn-danger" onclick="delIntro({$intro['id']})">删除</button>
			{/if}
		</div>
	</div>
</form>
<br /><br /><br />

</div>
</body>
<script type="text/javascript">
function saveIntro() {
  var params = $("#intro-from").serializeArray();
  $.post("/admin/manage/saveIntro",  params ,
      function(data){
        data = $.parseJSON(data);
        if( data.result ) {
          	bootbox.alert("保存成功",function() {});
        } else {
           bootbox.alert(data.message,function() {});
        }
  });
}

function delIntro( id ) {
  $.post("/admin/manage/delIntro", {
         id : id
      } ,
      function(data){
        data = $.parseJSON(data);
        if( data.result ) {
           bootbox.alert("删除成功",function() {
           		window.location.href = "/admin/manage/index?main=intro";
           });
        } else {
           bootbox.alert(data.message,function() {});
        }
  });
}

$(function(){
	$("#intro_uploadimg").change(function(){
	    var formData = new FormData();
	    var f = $('#intro_uploadimg')[0].files[0];
	    formData.append('file', f); // 固定格式
	    uploadImg ( formData, function( data ) {
	    	$("img[name='img_url']").attr("src",data.obj.url);
	    	$("input[name='img_url']").val(data.obj.url);
	    } );
	});
});
</script>
</html>