 /*base start */
a {
	color: #03c4eb;
    text-decoration: none;
    outline: 0;
}

img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
 /*base end */



.header-banner {
	position: relative;
	height: 350px;
	width: 100%;
	
}

.header-banner .banner {
	margin-left: auto;
    margin-right: auto;
	height: 350px;
	width: 1100px;
	max-width: 100%;
	background-size: 100% auto;
}

.header-banner .banner img {
	width: 100%;
	height: auto;
}

.header-banner .banner-inner {
	position: absolute;
	left: 10%;
	top: 10%;
	right: 10%;
	bottom: 10%;
	width: 80%;
	height: 80%;
	/*background-color: purple;*/
	text-align: center;
	color: #fff;
	z-index: 1;
}

.header-banner .banner-inner .banner-top {
	color: #fff;
	font-size: 60px;
    letter-spacing: 3px;
    width: 100%;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.header-banner .banner-inner .banner-top h2  {
	display: inline-block;
	letter-spacing: 2px;
	color: #fff;
	/*line-height: 1.3;*/
	/*text-align:center;*/
}

.header-banner .banner-inner .banner-top h2 span {
	display: inline-block;
	/*letter-spacing: 3px;*/
	/*text-transform: uppercase;*/
	/*visibility: visible;*/
}

.header-banner .banner-inner .banner-midder {
	font-size: 14px;
    font-style: italic;
    letter-spacing: .4px;
    text-shadow: 0 2px 8px rgba(0,0,0,.15);
    color: #fff;
    text-align: center;
    font-weight: 100;
    padding-bottom: 10px;
    /*background-color: blue;*/
    text-align: center;
}

.header-banner .banner-inner .banner-bottom {
	margin-top: 30px;
}

.header-banner .banner-inner .banner-bottom div {
	display: inline-block;
	margin: center;
	border-radius: 2px;
}

.header-banner .banner-inner .banner-bottom div a {
	display: inline-block;
	text-decoration: none;
    color: #fff;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    margin: .625rem .625rem 1.25rem 0;
    padding: .75rem 1.5rem;
    border: 1px solid transparent;
    font-weight: 600;
    
}

.header-banner .banner-inner .banner-bottom div:last-child a {
	border-color: rgba(255,255,255,.9);
}

.header-banner .banner-inner .banner-bottom .active {
	background: #03c4eb;
}

/*FEATURES*/
.features {
	padding: 60px; 
}

.features .features-container {
	margin:0 47px;
	padding: 0 15px;
}

.features .features-container .features-header {
	height: 65px;
	width: 100%;
	text-align: center;
	margin-bottom: 60px;
}

.features .features-container .features-header .features-tip {
	color: #aaa;
    font-size: 12px;
    display: block;
    margin-bottom: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.features .features-container .features-header .features-title {
	display: block;
	font-size: 30px;
    letter-spacing: 2px;
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase;
}

.features .features-container .introduction {

}

.features .features-container .introduction ul li {
	list-style: none;
	float:left;
	width: 25%;
	padding: 0 15px;
}

.features .features-container .introduction ul li .image  {
	width: auto;
	height:100px;
	text-align: center;
	margin-bottom: 20px;
}

.features .features-container .introduction ul li .tip  {
	text-align: center;
	margin-bottom: 12px;
}

.features .features-container .introduction ul li .description  {
	text-align: center;
	margin-bottom: 15px;
	line-height: 1.7;
	font-size: 14px;
	color: #777;
	font-family: 'Open Sans',Helvetica,Arial,sans-serif;
}

/*about us*/
.section-about {
	padding: 70px 0;
	position: relative;
	overflow: hidden;
}

.section-about:before {
	position: absolute;
	top:0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	content: ' ';
	z-index: 1;
}

.section-about .container {
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
	width: 1110px;
	max-width: 100%;
	position: relative;
	z-index: 5;
}

.section-about .section-title-area {
	margin-bottom: 30px;
	text-align: center;
}

.section-about .section-title-area h2 {
	font-weight: 800;
	position: relative;
	margin-bottom: 0;
	text-transform: uppercase;
	font-size: 40px;
	letter-spacing: 3.5px;
}

.section-about .row {
	margin-right: -15px;
	margin-left: -15px;
}

.section-about .row>div {
	margin-top: 30px;
}

.section-about .row .col-lg-6 {
	-webkit-box-flex: 0;
	flex: 0 0 50%;
	max-width: 50%;
	visibility: visible;
}

.section-about .about-image {
	text-align: center;
}

.section-about .about-image img {
	margin-bottom: 30px;
}

/*power tools */
.power {
	background-color: #f8f9f9;
	padding: 70px 0;
}

.power .power-container {
	padding: 0 15px;
	max-width: 100%;
	margin:0 47px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 15px;
	padding-left: 15px;
}

.power .power-container .power-header {
	margin-bottom: 60px;
    text-align: center;
}

.power .power-container .power-header .power-tip {
    font-size: 12px;
    display: inline-block;
    margin-bottom: 13px;
}

.power .power-container .power-header .power-tip h5 {
	color: #aaa;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.power .power-container .power-header .power-title {
    font-weight: 800;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3.5px;
    color: #333;
}

.power .power-container .power-info {
	margin: 0 15px;
	text-align: center;
}

.power .power-container .power-info .row {
    width: 100%;
    height: auto;
    text-align: center;
    
}

.power .power-container .power-info .row a {
	text-decoration: none;
	background: #fff;
    padding: 30px;
    width: 40%;
    height: auto;
    margin-bottom: 30px;
    color: #03c4eb;
    outline: 0;
    float: left ;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:flex-start;
    align-items:flex-start;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,.08);

}

.power .power-container .power-info .row a:first-child {
	margin-right: 10px;
}

.power .power-container .power-info .row a .tool-left {
/*	float: left;*/
	width: 120px;
	height: 120px;
	margin-right: 30px;
	/*background-color: blue;*/
	/*padding: 0 15px;*/
}

.power .power-container .power-info a .tool-left img {
	max-width: 120px;
	height: auto;
}

.power .power-container .power-info a .tool-right {
	/*float: left;*/
	width: auto;
	height: 120px;
	overflow: hidden;
	/*background-color: yellow;*/
}

.power .power-container .power-info a .tool-right .tool-title  {
	margin-bottom: 10px;
    font-size: 17px;
    text-align: left;
}

.power .power-container .power-info a .tool-right .tool-tip  {
    margin: 0;
    font-size: 14px;
    color: #777;
    text-align: left;
}

/*photos*/
.photos {
	padding: 70px 0;
	background-color: #f8f9f9;
	position: relative;
	overflow: hidden;
}

.photos .photos-container {
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	position: relative;
    z-index: 5;
}

.photos-title {
	margin-bottom: 60px;
	text-align: center;
}

.photos-title h2 {
	font-size: 40px;
	letter-spacing: 3.5px;
	font-weight: 800;
	position: relative;
	margin-bottom: 0;
	text-transform: uppercase;
}


.photos .photos-imgs {
	width: 100%;
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

.photos-col {
	position: relative;
	height: 257px;
	margin: -1px;
	width: 100%;
	display: block;

}

.photos-col a {
	position: absolute;
	padding: 0px;
	width: 20%;
	display: block;
	overflow: hidden;
	float: left;
	left: 0%;
	top: 0px;
}

.photos-inner {
	/*padding: 1px;*/
	width: 100%;
	height: 100%;
}

.photos-content {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	transition: all 0.5s linear;
}

.photos-content:hover {
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
}

.photos-content img {
	display: block;
	overflow: hidden;
	transition: all 0.5s linear;
}

.photos-content img:hover {
	display: block;
	transform: scale(1.4);
	-webkit-transform: scale(1.4);
}

/*funder*/
.funder {
	position: relative;
	overflow: hidden;
	padding: 70px 0;
}

.funder:before {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	content: "";
	z-index: 1;
}

.funder-container {
	position: relative;
	z-index: 5;
	width: 960px;
	max-width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-left: auto;
	margin-right: auto;
}

.funder-header {
	text-align: center;
	margin-bottom: 60px;
}

.funder-header h5 {
	font-size: 14px;
	color: #aaa;
	display: inline-block;
	letter-spacing: 2px;
	margin-bottom: 13px;
	font-weight: 700px;
}

.funder-row {
	margin-left: -15px;
	margin-right: -15px;
	display: flex;
	flex-wrap: wrap;
}

.funder-col {
	-webkit-box-flex: 0;
	flex: 0 0 25%;
	max-width: 25%;
/*	padding-left: 15px;
	padding-right: 15px;*/
	width: 100%;
	min-height: 1px;
	position: relative;
}

.funder-item {
	-webkit-box-flex: 0;
	text-align: center;
	margin-bottom: 35px;
}

.funder-number {
	font-family: serif,sans-serif;
	font-size: 50px;
	font-weight: 800;
	color: #03c4eb;
	line-height: 1;
	text-transform: uppercase;
}

.funder-subtitle {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 1.7;
	color: #777;
}

/*NEW*/
.new {
	position: relative;
	overflow: hidden;
	padding: 70px 0;
}

.new:before {
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    content: " ";
    z-index: 1;
}

.new-container {
	position: relative;
	z-index: 5;
	width: 960px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.new-header {
	text-align: center;
	margin-bottom: 60px;
}

.new-header h2 {
	font-family: "Raleway",Helvetica,Arial,sans-serif;
	font-size: 40px;
	letter-spacing: 3.5px;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 0;
	line-height: 1.2;
	color: #333;
	margin-top: 0;
}

.new-row {
	display: flex;
	flex-wrap: wrap;
}

.new-col {
	/*flex: 0 0 100%;
	max-width: 100%;*/

	position: relative;
    width: 100%;
    min-height: 1px;
}

.new-blog {
	visibility: visible;
	/*animation-name: slideInUp;*/
}

.new-article {
	border-top: 1px solid #e9e9e9;
	padding: 25px 0;
	height: 250px;
}

.new-article:nth-last-of-type(2) {
	border-bottom: 1px solid #e9e9e9;
}

.new-left {
	float: left;
	margin-right: 30px;
}

.new-left a {
	color: #03c4eb;
    text-decoration: none;
    outline: 0;
    background-color: transparent;
}

.new-right {
	float: none;
	overflow: hidden;
}

.new-title {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	margin-bottom: 10px;
}

.new-title a {
	color: #03c4eb;
    text-decoration: none;
    outline: 0;
}

.new-subtitle {
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 22px;
	line-height: 1.5;
	font-weight: 500px;
	text-transform: none;
	letter-spacing: -0.6px;

}

.new-subtitle a {
	color: #333;
	text-decoration: none;
	outline: 0;
	font-weight: 500;
}

.new-desciption {
	margin-top: 0;
	margin-bottom: 0;
}

.news-all {
	text-align: center;
	margin-top: 40px;
	display: block;
}

.news-all a {
	background-color: transparent;
	background-image: none;
	
	color: #03c4eb;
	text-transform: uppercase;
	border-radius: 2px;
	box-shadow: 0 -1px 0 0 rgba(0,0,0,0.1) inset;
	font-size: 13px;
	font-weight: 600;
	display: inline-block;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border: 1px solid transparent;
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in-out;
	text-decoration: none;
	outline: 0;
	border-color: #03c4eb;
}