{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/history.css">
<script type="text/javascript" src="__JS__/history.js"></script>
{include file="common/top" /}

<div class="site-content">
	<div class="container right-sidebar">
		<div class="content-area">
			<div class="site-main">
				<div class="article">
					<div class="entry-header"></div>
					<div class="entry-content">
						<p>
							<img width=1428 height=781 src="__IMG__/DN-picture.jpg" sizes="(max-width: 1428px) 100vw, 1428px" sizes="(max-width: 1428px) 100vw, 1428px">
							More Than 30 years experience in the Manufacturing and Supplying Top Quality Cutting Wheels And Discs  from China, with many years OEM production for famous brands , we know so many about this industry , from the customs needs , materials , production ,and market segmentation , we can delivery the right products for every customer .
						</p>
						<p>
							We are mostly the only one abrasives factory that can do the customized cutting wheels for different customers in China. Not only the general cutting works , we also can create the cut off wheels for different customers and industry ,such like special precision cutting – very hard alloy , metallography , break cables , cores , just let us know what do you want to cut , then we finish the rest works for you .
						</p>
						<p>DN .com</p>
						<p>Add: NO.689 QingShan Road ,Qingdao China</p>
						<p>Tel: 86-532-8462-6270</p>
						<p>Fax:86-532-8061-5116</p>
						<p>E-mail:sales@starabrasives.com (English)</p>
						<p>mauro@starabrasives.com (Español)</p>
						<p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>
		{include file="common/search" /}
	</div>
</div>
{include file="common/footer" /}