{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<link rel="stylesheet" href="__DIST_CSS__/swiper.min.css">
<script type="text/javascript" src="__JS__/index.js"></script>
<script type="text/javascript" src="__DIST_JS__/swiper.min.js"></script>
<div class="header-banner">
<!-- 	<div class="banner"></div> -->
	<div class="swiper-container banner">
		<div class="banner swiper-wrapper">
			{volist name="banners" id="banner"}
			<div class="swiper-slide"><img src="{$banner ['value']}" alt=""></div>
			{/volist}
		</div>
		<!-- 如果需要分页器 -->
    	<div class="swiper-pagination"></div>
	</div>
	<script type="text/javascript">
	$(function(){
		var swiper = new Swiper('.swiper-container',{
	    	    direction: 'horizontal', // 垂直切换选项
			    loop: true, // 循环模式选项
			    autoplay: true,
			    // 如果需要分页器
			    pagination: {
			      el: '.swiper-pagination',
			    },
			    
			    // 如果需要滚动条
			    scrollbar: {
			      el: '.swiper-scrollbar',
			    }
	    });
	});
	</script>
	<div class="banner-inner">
	</div>
</div>

<!-- Features -->
<div class="container features clearfix">
	<div class="features-container">
		<div class="features-header">
			<div class="features-tip"><h5>{$lang ['index_feature_sub']}?</h5></div>
			<div class="features-title"><h2>{$lang ['index_feature']}</h2></div>
		</div>
		<div class="introduction">
			<ul>
				{volist name="data['feature']" id="feature"}
				<li >
					<div class="image"><img style="width: 84px;height: 84px;" src="{$feature['img_url']}"></div>
					<div class="tip"><h4>{$feature['title']}</h4></div>
					<div class="description">{$feature['description']}</div>
				</li>
				{/volist}
			</ul>
		</div>
	</div>
</div>

<!-- about us  -->
<div class="section-about" id="about_area">
	<div class="container">
		<div class="section-title-area">
			<h2>{$lang ['index_about']}</h2>
		</div>
		<div class="row">
			{volist name="data['intro']" id="intro"}
			<div class="col-lg-6 col-sm-6">
				<div class="about-image">
					<a href="/index/index/intro/id/{$intro['id']}">
						<img src="{$intro['img_url']}" width=640 height=350 
						sizes="(max-width: 640px) 100vw, 640px">
					</a>
				</div>
				<h3>
					<a href="/index/index/intro/id/{$intro['id']}">{$intro['title']}</a>
				</h3>
				<p>{$intro['short_desc']}</p>
			</div>
			{/volist}
		</div>
	</div>
</div>

<!-- power tool -->
<div class="power clearfix" id="service_area">
	<div class="power-container container">
		<div class="power-header">
			<div class="power-tip"><h5>{$lang ['index_service_pre']}</h5></div>
			<div class="power-title"><h2>{$lang ['index_service']}</h2></div>
		</div>
		<div class="power-info">
			<div class="row clearfix">
				{volist name="categorys" id="category"}
				<a href="/index/index/category/id/{$category ['id']}" class="power-left clearfix">
					<div class="tool-left"><img src="{$category ['img_url']}"></div>
					<div class="tool-right">
						<div class="tool-title">{$category ['title']}</div>
						<div class="tool-tip">{$category ['description']}</div>
					</div>
				</a>
				{/volist}
			</div>
		</div>
	</div>
</div>

<!-- photos -->
<div class="photos" id="product_area">
	<div class="photos-container">
		<div class="photos-title"><h2>{$lang ['index_photo']}</h2></div>
	</div>
	<div class="photos-imgs">
		<div class="photos-col">
			{volist name="data['products']" id="product"}
			<a href="/index/index/product/id/{$product['id']}" class="22">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="{$product['img_url']}">
					</span>
				</span>
			</a>
			{/volist}
		</div>
	</div>
</div>


{notempty name="something"}
<div class="funder">
	<div class="funder-container">
		<div class="funder-header"><h5>{$lang ['index_funder_sub']}</h5></div>
		<div class="funder-row">
			<div class="funder-col">
				<div class="funder-item">
					<div class="funder-number">
						<span class="funder-n">{$something['st_practice']}</span>
					</div>
					<div class="funder-subtitle">{$lang ['index_funder_year']}</div>
				</div>
			</div>
			<div class="funder-col">
				<div class="funder-item">
					<div class="funder-number">
						<span class="funder-n">{$something['st_market']}</span>
					</div>
					<div class="funder-subtitle">{$lang ['index_funder_market']}</div>
				</div>
			</div>
			<div class="funder-col">
				<div class="funder-item">
					<div class="funder-number">
						<span class="funder-n">{$something['st_sale']}</span>
					</div>
					<div class="funder-subtitle">{$lang ['index_funder_sales']}</div>
				</div>
			</div>
			<div class="funder-col">
				<div class="funder-item">
					<div class="funder-number">
						<span class="funder-n">{$something['st_think']}</span>
					</div>
					<div class="funder-subtitle">{$lang ['index_funder_thinnest']}</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/notempty}

<!-- NEW -->
{notempty name="data['news']"}
<div class="new" id="news_area">
	<div class="new-container">
		<div class="new-header"><h2>{$lang ['index_last_news']}</h2></div>
		<div class="new-content">
			<div class="new-row">
				<div class="new-col">
					<div class="new-blog">
						{volist name="data['news']" id="news"}
						<div class="new-article">
							<div class="new-left">
								<img width="300px" height="200px" src="{$news['img_url']}">
							</div>
							<div class="new-right">
								<div class="new-title">
									<a href="/index/index/news/id/{$news['id']}">{$news['title']}</a>
								</div>
								<div class="new-subtitle">
									<h2>
										<a href="/index/index/news/id/{$news['id']}">{$news['short_title']}</a>
									</h2>
								</div>
								<div class="new-description">
									<p>{$news['short_title']}</p>
								</div>
							</div>
						</div>
						{/volist}
						<div class="news-all">
							<a href="/index/index/newslist">{$lang ['index_news_more']}</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{/notempty}
<script type="text/javascript">
$(document).ready( function(){
	
	init_justImg() ;
	// init_justNews();
	
}) ;
</script>

{include file="common/footer" /}