{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/index.css">
<script type="text/javascript" src="__JS__/index.js"></script>
<div class="header-banner">
	<div class="banner"></div>
	<div class="banner-inner">
		<div class="banner-top">
			<div class="slogan">
				<h2 >我们承若<span>同一个地球同一个关怀</span></h2>
			</div>
		</div>
		<div class="banner-midder">
			我们提供优异的产品
		</div>
		<div class="banner-bottom">
			<div><a href="#" class="active">关于我们</a></div>
			<div><a href="#">联系我们</a></div>
		</div>
	</div>
</div>

<!-- Features -->
<div class="features clearfix">
	<div class="features-container">
		<div class="features-header">
			<div class="features-tip"><h5>WHY TRICRAFT ?</h5></div>
			<div class="features-title"><h2>FEATURES</h2></div>
		</div>
		<div class="introduction">
			<ul>
				<li >
					<div class="image"><img src="__STATIC__/img/30.png"></div>
					<div class="tip"><h4>Experience</h4></div>
					<div class="description">30 Years Experience , 100% certainty About All The Cutting Wheels For Different Power Tools and Applications</div>
				</li>
				<li>
					<div class="image"><img src="__IMG__/31.png"></div>
					<div class="tip"><h4>Quality</h4></div>
					<div class="description">30 Years Experience , 100% certainty About All The Cutting Wheels For Different Power Tools and Applications</div>
				</li>
				<li>
					<div class="image"><img src="__IMG__/32.png"></div>
					<div class="tip"><h4>Safety</h4></div>
					<div class="description">30 Years Experience , 100% certainty About All The Cutting Wheels For Different Power Tools and Applications</div>
				</li>
				<li>
					<div class="image"><img src="__IMG__/33.png"></div>
					<div class="tip"><h4>Service</h4></div>
					<div class="description">30 Years Experience , 100% certainty About All The Cutting Wheels For Different Power Tools and Applications</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- about us  -->
<div class="about clearfix">
	<div class="about-container">
		<div class="about-top"><h2>关于我们</h2></div>
		<div class="us-info">
			<ul>
				<li>
					<div class="image"><img src="__IMG__/dn.jpg"></div>
					<div class="about-title"><h3><a href="#">Our Mission</a></h3></div>
					<div class="about-tip">Star Abrasives CO.,LTD Has 30 years of experience in the abrasives industry from China, we can supply the cutting off wheels for all the applications , include the general metal working , precision cutting for alloy , metallography , break cables , cores .We can cut the hardest materials that others can’t cut</div>
				</li>
				<li>
					<div class="image"><img src="__IMG__/dn.jpg"></div>
					<div class="about-title"><h3><a href="#">Our Mission</a></h3></div>
					<div class="about-tip">Star Abrasives CO.,LTD Has 30 years of experience in the abrasives industry from China, we can supply the cutting off wheels for all the applications , include the general metal working , precision cutting for alloy , metallography , break cables , cores .We can cut the hardest materials that others can’t cut</div>
				</li>
			</ul>
		</div>
	</div>
</div>

<!-- power tool -->
<div class="power clearfix">
	<div class="power-container">
		<div class="power-header">
			<div class="power-tip"><h5>CUTTING WHEELS FOR DIFFERENT</h5></div>
			<div class="power-title"><h2>POWER TOOLS</h2></div>
		</div>
		<div class="power-info">
			<div class="row clearfix">
				<a href="#" class="power-left clearfix">
					<div class="tool-left"><img src="__IMG__/40.png"></div>
					<div class="tool-right">
						<div class="tool-title">Angle Grinder</div>
						<div class="tool-tip">Precision Abrasive Cutter Cut Off Wheels , Non-Reinforced For High Precision Cutting , Thickness From 0.1mm To 2.5mm , Application including but not limited to Metallographic , Needles , Break Cable , Mold Steel , Alloy , Cores , Can Cut Hardness From HRC15 To HRC60 , Same Quality As Japanese Products .</div>
					</div>
				</a>
				<a href="#" class="power-right">
					<div class="tool-left"><img src="__IMG__/40.png"></div>
					<div class="tool-right">
						<div class="tool-title">Angle Grinder</div>
						<div class="tool-tip">Precision Abrasive Cutter Cut Off Wheels , Non-Reinforced For High Precision Cutting , Thickness From 0.1mm To 2.5mm , Application including but not limited to Metallographic , Needles , Break Cable , Mold Steel , Alloy , Cores , Can Cut Hardness From HRC15 To HRC60 , Same Quality As Japanese Products .</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>

<!-- photos -->
<div class="photos">
	<div class="photos-container">
		<div class="photos-title"><h2>PHOTOS</h2></div>
	</div>
	<div class="photos-imgs">
		<div class="photos-col">
			<a href="#" class="22">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product3.jpg">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product1.jpg">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product2.jpg">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product3.jpg">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product2.jpg">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product3.jpg">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product1.jpg">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product1.jpg">
					</span>
				</span>
			</a>
			<a href="#">
				<span class="photos-inner">
					<span class="photos-content">
						<img src="__IMG__/product1.jpg">
					</span>
				</span>
			</a>
		</div>
	</div>
</div>



<div class="funder">
	<div class="funder-container">
		<div class="funder-header"><h5>SOME FUN FACTS ABOUT STAR ABRASIVES ?</h5></div>
		<div class="funder-row">
			<div class="funder-col">
				<div class="funder-item">
					<div class="funder-number">
						<span class="funder-n">30</span>
					</div>
					<div class="funder-subtitle">Years Experience</div>
				</div>
			</div>
			<div class="funder-col">
				<div class="funder-item">
					<div class="funder-number">
						<span class="funder-n">96</span>
						<span class="funder-a">%</span>
					</div>
					<div class="funder-subtitle">High-End Market</div>
				</div>
			</div>
			<div class="funder-col">
				<div class="funder-item">
					<div class="funder-number">
						<span class="funder-n">100,000</span>
					</div>
					<div class="funder-subtitle">Wheels Per Day</div>
				</div>
			</div>
			<div class="funder-col">
				<div class="funder-item">
					<div class="funder-number">
						<span class="funder-n">0.12</span>
						<span class="funder-n">MM</span>
					</div>
					<div class="funder-subtitle">The Thinnest Wheel</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- NEW -->
<div class="new">
	<div class="new-container">
		<div class="new-header"><h2>LATEST NEWS</h2></div>
		<div class="new-content">
			<div class="new-row">
				<div class="new-col">
					<div class="new-blog">
						<div class="new-article">
							<div class="new-left">
								<a href=""><img src="__IMG__/new_1.jpg"></a>
							</div>
							<div class="new-right">
								<div class="new-title"><a href="">new and tests</a></div>
								<div class="new-subtitle"><h2><a href="">Classifications And Applications Of Cutting Wheels</a></h2></div>
								<div class="new-description"><p>Classifications And Applications Of Cutting WheelS Foreword: With the development of the machinery industry, the mechanical products which need to be processed are increasing day by day, more and more …</p></div>
							</div>
						</div>
						<div class="new-article">
							<div class="new-left">
								<a href=""><img src="__IMG__/new_1.jpg"></a>
							</div>
							<div class="new-right">
								<div class="new-title"><a href="">new and tests</a></div>
								<div class="new-subtitle"><h2><a href="">Classifications And Applications Of Cutting Wheels</a></h2></div>
								<div class="new-description"><p>Classifications And Applications Of Cutting WheelS Foreword: With the development of the machinery industry, the mechanical products which need to be processed are increasing day by day, more and more …</p></div>
							</div>
						</div>
						<div class="new-article">
							<div class="new-left">
								<a href=""><img src="__IMG__/new_1.jpg"></a>
							</div>
							<div class="new-right">
								<div class="new-title"><a href="">new and tests</a></div>
								<div class="new-subtitle"><h2><a href="">Classifications And Applications Of Cutting Wheels</a></h2></div>
								<div class="new-description"><p>Classifications And Applications Of Cutting WheelS Foreword: With the development of the machinery industry, the mechanical products which need to be processed are increasing day by day, more and more …</p></div>
							</div>
						</div>
						<div class="news-all">
							<a href="#">Read Our Blog</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(document).ready( function(){
	
	init_justImg() ;
	// init_justNews();
	
}) ;
</script>

{include file="common/footer" /}