{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/intro.css">
<script type="text/javascript" src="__JS__/intro.js"></script>
{include file="common/top" /}

<div class="site-content">
	<div class="container right-sidebar">
		<div class="content-area">
			<div class="site-main">
				<div class="article">
					<div class="entry-header">
						<p>
							<img width=1428 height=781 src="{$intro['img_url']}" sizes="(max-width: 1428px) 100vw, 1428px" sizes="(max-width: 1428px) 100vw, 1428px">
						</p>
					</div>
					<div class="entry-content">
						{$intro['description']}
						<p>&nbsp;</p>
					</div>
				</div>
			</div>
		</div>
		{include file="common/search" /}
	</div>
</div>
{include file="common/footer" /}