{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/news.css">
{include file="common/top" /}

<div class="site-content">
	<div class="container right-sidebar">
		<div class="content-area">
			<div class="site-main">
				<div class="article">
					<div class="list-article-thumb">
						<a href="#">
							<img src="__IMG__/news-product-1.jpg" width=300 height=150>
						</a>
					</div>
					<div class="list-article-content">
						<div class="list-article-meta">
							<a href="">News And Tests</a>
						</div>
						<div class="entry-header">
							<h2 class="entry-title">
								<a href="">Classifications And Applications Of Cutting Wheels</a>
							</h2>
						</div>
						<div class="entry-excerpt">
							<p>
								Classifications And Applications Of Cutting WheelS Foreword: With the development of the machinery industry, the mechanical products which need to be processed are increasing day by day, more and more …
							</p>
						</div>
					</div> 
				</div>
				<div class="article">
					<div class="list-article-thumb">
						<a href="#">
							<img src="__IMG__/news-product-1.jpg" width=300 height=150>
						</a>
					</div>
					<div class="list-article-content">
						<div class="list-article-meta">
							<a href="">News And Tests</a>
						</div>
						<div class="entry-header">
							<h2 class="entry-title">
								<a href="">Classifications And Applications Of Cutting Wheels</a>
							</h2>
						</div>
						<div class="entry-excerpt">
							<p>
								Classifications And Applications Of Cutting WheelS Foreword: With the development of the machinery industry, the mechanical products which need to be processed are increasing day by day, more and more …
							</p>
						</div>
					</div> 
				</div>
			</div>
		</div>
	{include file="common/search" /}	
	</div>
</div>
{include file="common/footer" /}
