{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/product.css">
<script type="text/javascript" src="__JS__/product.js"></script>
<div class="page-header">
	<div class="container">
		<h1 class="entry-title"><?=$lang ['page_shop']?></h1>
	</div>
</div>

<div class="site-content">
	<div class="container right-sidebar">
		<div class="content-area">
			<div class="site-main">
				<div class="product-collect">
					<div class="product-image">
						<a href="#" class="product-gallery"></a>
						<figure class="product-gallery-wrapper">
							<div class="product-gallery-image">
								<a href="#">
									<img width="300" height="300" src="{$product['img_url']}">
								</a>
								<img src="__IMG__/product-1-300x300.jpg" class="zoomImg">
							</div>
						</figure> 
					</div>
					<div class="entry-summary">
						<h1 class="entry-title-h1">{$product['short_title']}</h1>
						<p></p>
						<div class="short-description">
							{$product['short_desc']}
						</div>
						<div class="product-meta">
							<span class="posted-in">
								分类:
								<a href="/index/index/shop?keyword={$product ['category'] ['title']}">{$product ['category'] ['title']}</a>
							</span>
						</div>
					</div>
					<div class="product-tabs-wrapper">
						<!-- <ul class="products-tablist">
							<li class="description_tab active">
								产品参数
							</li>
							<li class="reviews_tab">
								评论 (0)
							</li>
						</ul> -->
						<div class="description_tab"><h2>产品参数</h2></div>
						<div class="tbs-panel-desc" id="description_tab">
							<h3><span><strong>{$product['short_desc']}</strong></span></h3>
							<h2 class="spec-row"><span><strong>规格</strong></span></h2>
							<div class="spec-row">
								<table class="tbs-panel-desc-table">
									<tbody>
										{foreach name="product['property']" item="property" key="idx" }
										<tr>
											<td width=133><span><strong>{$idx}:</strong></span></td>
											<td width=956>
												<span >
													<strong>{$property}</strong>
												</span>
											</td>
										</tr>
										{/foreach}
									</tbody>
								</table>
							</div>
						</div>
						<div class="tbs-panel-reviews hidden" id="reviews_tab">
							<div class="products-reviews">
								<div class="comments">
									<h2 class="review-title">评论</h2>
									<p class="review-no">还没有评价</p>
								</div>
								<div class="reviews-form-wrapper">
									<div>
										<div class="comment-respond">
											<span class="comment-replay-title">
												快来评论一下， “{$product['short_title']}” 
												<small>
													<a href="#"></a>
												</small>
											</span>
											<form method="post" action="/index/index/comment" class="comment-form">
												<input type="hidden" name="product_id" value="{$product['id']}">
												<div class="comment-form-rating">
													<label for='rating'>好评：</label>
												</div>
												<p class="comment-form-comment">
													<label for="comment">
														评语： 
														<span class="required">*</span>
													</label>
													<textarea name="comment" cols="8" rows="0"></textarea>
												</p>
												<p class="comment-form-author">
													<label for="author">
														昵称：
														<span class="required">*</span>
													</label>
													<input type="text" name="author" size="30" required>
												</p>
												<p class="comment-form-email">
													<label for="email">
														Email：
														<span class="required">*</span>
													</label>
													<input type="email" name="email" size="30" required>
												</p>
												<p class="comment-form-submit">
													<input type="submit" name="submit" class="submit" value="提交">
												</p>
											</form>
										</div>
									</div>
								</div>

								<div class="clear"></div>
							</div>
						</div>
					</div>
					<div class="related-products">
						<h2>相关产品</h2>
						<ul class="products">
							{foreach name="$product['related_products']" item="related" key="idx" }
							<li class="product product-type">
								<a class="related-product-a" href="/index/index/product/id/{$related['id']}">
									<img src="{$related['img_url']}" width=300 height=300 sizes="(max-width:300px) 100vw, 300px">
									<h2 >{$related['short_title']}</h2>
								</a>
								<a class="related-product-read" href="">了解更多</a>
							</li>
							{/foreach}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{include file="common/search" /}
	</div>
</div>
{include file="common/footer" /}