{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/shop.css">
<script type="text/javascript" src="__JS__/shop.js"></script>

{include file="common/top" /}
<div class="site-content">
	<div class="container right-sidebar">
		<div class="content-area">
			<div class="site-main">
				<h1 class="page-title">Shop</h1>
				<p class="woocomerce-result-count">{$lang ['show_page_info'] | sprintf = $start , $start + SHOP_LIMIT -1,$total_page }</p>
				<form class="woocommerce-ordering" method="get">
					<select name="orderby" class="orderby">
						{foreach name="sorts" item="sort" key="idx" }
						<option value="{$idx}">{$sort}</option>
						{/foreach}
					</select>
					<input type="hidden" name="paged" value="1">
				</form>
				<ul class="products">
					{foreach name="products" item="product" key="k" }
					<li class="product {$k % 4 == 0 ? 'first' : ''} {$k % 4 == 3 ? 'last' : ''}">
						<a href="/index/index/product/id/{$product['id']}" class="product-top-link">
							<img width="300" height="300" src="{$product['img_url']}" 
							sizes="(max-width:300px) 100vm, 300px">
							<h2>{$product ['short_title']}</h2>
						</a>
						<a href="/index/index/product/id/{$product['id']}" class="product-bottom-link">{$lang ['btn_product_more']}</a>
					</li>
					{/foreach}
					<br class="clear" />
				</ul>
				<div class="nav">
					<ul>
						<li>
							<a href="javascript:goNextPage(0)">
							<span class="page-number">{$lang ['btn_list_home']}</span>
							</a>
						</li>
						<li>
							<a href="javascript:goNextPage({$pre_page})">
							<span class="page-number">{$lang ['btn_list_pre']}</span>
							</a>
						</li>
						{for start="$current_page - 2" end="$current_page + 3" }
						{if condition="$i egt 0 and $i elt $total_page - 1"}
						<li>
							<a href="javascript:goNextPage({$i})">
							<span class="page-number {$current_page == $i ? 'current' : ''}">{$i + 1}</span>
							</a>
						</li>
						{/if}
						{/for}
						<li>
							<a href="javascript:goNextPage({$next_page})">
							<span class="page-number">{$lang ['btn_list_next']}</span>
							</a>
						</li>
						<li>
							<a href="javascript:goNextPage({$total_page -1})">
							<span class="page-number">{$lang ['btn_list_last']}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{include file="common/search" /}
	</div>
</div>
{include file="common/footer" /}

<script type="text/javascript">
var keyword = "{$keyword}";
var category_id = "{$category_id}";
function goNextPage( current_page ) {
	var param = keyword != "" ? "keyword=" + keyword : "category_id=" + category_id ;
	window.location.href = "/index/index/shop?" + param + "&current_page=" + current_page;
}
</script>