{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/shop.css">
<script type="text/javascript" src="__JS__/shop.js"></script>
<div class="page-header">
	<div class="container">
		<h1 class="entry-title">SHOP</h1>
	</div>
</div>

<div class="site-content">
	<div class="container right-sidebar">
		<div class="content-area">
			<div class="site-main">
				<h1 class="page-title">Shop</h1>
				<p class="woocomerce-result-count">Showing 1-20 of 24 results</p>
				<form class="woocommerce-ordering" method="get">
					<select name="orderby" class="orderby">
						<option value="menu_order">Default sorting</option>
						<option value="popularity">Sort by popularity</option>
						<option value="rating">Sort by average rating</option>
					</select>
					<input type="hidden" name="paged" value="1">
				</form>
				<ul class="products">
					<li class="product first">
						<a href="/index/product/detail/45" class="product-top-link">
							<img width="300" height="300" src="__IMG__/product-1-300x300.jpg" sizes="(max-width:300px) 100vm, 300px">
							<h2>180 x 0.5 Needles Cut Off Wheel | Abrasives Cutter | Tricraft</h2>
						</a>
						<a href="" class="product-bottom-link">READ MORE</a>
					</li>
					<li class="product">
						<a href="/index/product/detail/45" class="product-top-link">
							<img width="300" height="300" src="__IMG__/product-2-300x300.jpg" sizes="(max-width:300px) 100vm, 300px">
							<h2>180 x 0.5 Needles Cut Off Wheel | Abrasives Cutter | Tricraft</h2>
						</a>
						<a href="" class="product-bottom-link">READ MORE</a>
					</li>
					<li class="product">
						<a href="/index/product/detail/45" class="product-top-link">
							<img width="300" height="300" src="__IMG__/product-1-300x300.jpg" sizes="(max-width:300px) 100vm, 300px">
							<h2>180 x 0.5 Needles Cut Off Wheel | Abrasives Cutter | Tricraft</h2>
						</a>
						<a href="" class="product-bottom-link">READ MORE</a>
					</li>
					<li class="product last">
						<a href="/index/product/detail/45" class="product-top-link">
							<img width="300" height="300" src="__IMG__/product-2-300x300.jpg" sizes="(max-width:300px) 100vm, 300px">
							<h2>180 x 0.5 Needles Cut Off Wheel | Abrasives Cutter | Tricraft</h2>
						</a>
						<a href="" class="product-bottom-link">READ MORE</a>
					</li>
					<li class="product first">
						<a href="/index/product/detail/45" class="product-top-link">
							<img width="300" height="300" src="__IMG__/product-1-300x300.jpg" sizes="(max-width:300px) 100vm, 300px">
							<h2>180 x 0.5 Needles Cut Off Wheel | Abrasives Cutter | Tricraft</h2>
						</a>
						<a href="" class="product-bottom-link">READ MORE</a>
					</li>
					<li class="product">
						<a href="/index/product/detail/45" class="product-top-link">
							<img width="300" height="300" src="__IMG__/product-2-300x300.jpg" sizes="(max-width:300px) 100vm, 300px">
							<h2>180 x 0.5 Needles Cut Off Wheel | Abrasives Cutter | Tricraft</h2>
						</a>
						<a href="" class="product-bottom-link">READ MORE</a>
					</li>
					<li class="product">
						<a href="/index/product/detail/45" class="product-top-link">
							<img width="300" height="300" src="__IMG__/product-1-300x300.jpg" sizes="(max-width:300px) 100vm, 300px">
							<h2>180 x 0.5 Needles Cut Off Wheel | Abrasives Cutter | Tricraft</h2>
						</a>
						<a href="" class="product-bottom-link">READ MORE</a>
					</li>
					<li class="product last">
						<a href="/index/product/detail/45" class="product-top-link">
							<img width="300" height="300" src="__IMG__/product-2-300x300.jpg" sizes="(max-width:300px) 100vm, 300px">
							<h2>180 x 0.5 Needles Cut Off Wheel | Abrasives Cutter | Tricraft</h2>
						</a>
						<a href="" class="product-bottom-link">READ MORE</a>
					</li>
				</ul>
				<div class="nav">
					<ul>
						<li>
							<span class="page-number current">1</span>
						</li>
						<li>
							<a class="page-numbers" href="#">2</a>
						</li>
						<li>
							<a class="page-numbers next" href="">-></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{include file="common/search" /}
	</div>
</div>
{include file="common/footer" /}