<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/base.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/header.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/4aql.css">
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="header-left">
				<!-- <img src="__IMG__/logo.png"> -->
				<h1>岱恩</h1>
			</div>
			<div class="header-right">
				<ul>
					<li>
						<a href="#features_area">产品特色</a>
					</li>
					<li>
						<a href="#about_area">了解我们</a>
					</li>
					<li>
						<a href="#service_area">服务内容</a>
					</li>
					<li>
						<a href="/index/index/shop">产品列表</a>
					</li>
					<li>
						<a href="#product_area">产品展示</a>
					</li>
					<li>
						<a href="#news_area">新闻链接</a>
					</li>
					<li>
						<a href="#">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="perch"></div>