<!DOCTYPE html>
<html>
<head>
	<title>{$title}</title>
	<link rel="stylesheet" type="text/css" href="__CSS__/base.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/common.css" />
	<link rel="stylesheet" type="text/css" href="__CSS__/header.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/4aql.css">
	<script type="text/javascript" src="__JS__/jquery.min.js"></script>
	<script type="text/javascript" src="__DIST_JS__/bootbox.min.js"></script>
</head>
<body>
	<div class="header">
		<div class="container">
			<div class="header-left">
				<!-- <img src="__IMG__/logo.png"> -->
				<h1>岱恩</h1>
			</div>
			<div class="header-right">
				<ul>
					<li>
						{if condition="isset($rivet)"}
						<a href="#">{$lang ['index_home']}</a>
						{else}
						<a href="/index/index/index">{$lang ['index_home']}</a>
						{/if}
					</li>
					<li>
						{if condition="isset($rivet)"}
						<a href="#features_area">{$lang ['index_feature']}</a>
						{else}
						<a href="/index/index/index?#features_area">{$lang ['index_feature']}</a>
						{/if}
					</li>
					<li>
						{if condition="isset($rivet)"}
						<a href="#about_area">{$lang ['index_about']}</a>
						{else}
						<a href="/index/index/index?#about_area">{$lang ['index_about']}</a>
						{/if}
					</li>
					<li>
						{if condition="isset($rivet)"}
						<a href="#service_area">{$lang ['index_service']}</a>
						{else}
						<a href="/index/index/index?#service_area">{$lang ['index_service']}</a>
						{/if}
					</li>
					<li>
						<a href="/index/index/shop">{$lang ['index_shop']}</a>
					</li>
					<li>
						{if condition="isset($rivet)"}
						<a href="#product_area">{$lang ['index_photo']}</a>
						{else}
						<a href="/index/index/index?#product_area">{$lang ['index_photo']}</a>
						{/if}
					</li>
					<li>
						{if condition="isset($rivet)"}
						<a href="#news_area">{$lang ['index_news']}</a>
						{else}
						<a href="/index/index/index?#news_area">{$lang ['index_news']}</a>
						{/if}
					</li>
					<li>
						<a href="/index/index/contact#">{$lang ['index_contact_us']}</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="perch"></div>