<link rel="stylesheet" type="text/css" href="__CSS__/search.css">
<script type="text/javascript" src="__JS__/search.js"></script>
<div class="widget-area">
	<div class="product_search">
		<h2 class="widget-title">Search Products</h2>
		<form method="get" class="widget-product-search" action="">
			<label class="screen-reader-text">Search for :</label>
			<input type="search" class="search-field" placeholder="Search product ..." name="s">
			<button type="submit" value="Search">Search</button>
			<input type="hidden" name="post_type" value="product">
		</form>
	</div>
	<div class="widget-product-categories">
		<h2 class="widget-title">Product Categories</h2>
		<ul class="product-categories">
			<li class="cat-item">
				<a href="">Abrasive Cutter Wheels</a>
			</li>
			<li class="cat-item">
				<a href="">Angle Grinder Wheels</a>
			</li>
			<li class="cat-item">
				<a href="">Hot Products</a>
			</li>
		</ul>
	</div>
</div>