{include file="common/header" /}
<link rel="stylesheet" type="text/css" href="__CSS__/mobile_shop.css">
<script type="text/javascript" src="__JS__/shop.js"></script>

{include file="common/top" /}
<div class="site-content">
	<div class="container right-sidebar">
		<div class="content-area">
			<div class="site-main">
				<p class="woocomerce-result-count">{$lang ['show_page_info'] | sprintf = $start , $start + SHOP_LIMIT -1,$total_page }</p>
				<form class="woocommerce-ordering" method="get">
					<select name="orderby" class="orderby">
						{foreach name="sorts" item="sort" key="idx" }
						<option value="{$idx}">{$sort}</option>
						{/foreach}
					</select>
					<input type="hidden" name="paged" value="1">
				</form>
				<ul class="products">
					{foreach name="products" item="product" key="idx" }
					<li class="product {$idx % 2 == 1 ? 'first' : ''} {$idx % 2 == 0 ? 'last' : ''}">
						<a href="/mobile/index/product/id/{$product['id']}" class="product-top-link">
							<img width="300" height="300" src="{$product['img_url']}" 
							sizes="(max-width:300px) 100vm, 300px">
							<h2>{$product['short_title']}</h2>
						</a>
						<a href="" class="product-bottom-link">{$lang ['btn_product_more']}</a>
					</li>
					{/foreach}
				</ul>
				<div class="nav">
					<ul>
						<li>
							<a href="javascript:goNextPage(1)">
							<span class="page-number">{$lang ['btn_list_home']}</span>
							</a>
						</li>
						<li>
							<a href="javascript:goNextPage({$pre_page})">
							<span class="page-number">{$lang ['btn_list_pre']}</span>
							</a>
						</li>
						{for start="$current_page - 2" end="$current_page + 3" }
						{if condition="$i egt 1 and $i elt $total_page"}
						<li>
							<a href="javascript:goNextPage({$i})">
							<span class="page-number {$current_page == $i ? 'current' : ''}">{$i}</span>
							</a>
						</li>
						{/if}
						{/for}
						<li>
							<a href="javascript:goNextPage({$next_page})">
							<span class="page-number">{$lang ['btn_list_next']}</span>
							</a>
						</li>
						<li>
							<a href="javascript:goNextPage({$total_page})">
							<span class="page-number">{$lang ['btn_list_last']}</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{include file="common/search" /}
	</div>
</div>
{include file="common/footer" /}

<script type="text/javascript">
var keyword = "{$keyword}";
function goNextPage( current_page ) {
	var params = {};
	if( keyword ) {
		params ['keyword'] = keyword ;
	}
	params ['current'] = current_page;
	$.StandardPost( "/mobile/index/shop" , params) ;
}
</script>